.l-container {
  height: 100%;
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: #f0f0ee;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.l-container--pro {
  background-color: rgb(217, 255, 0);
}


.m-container {
  height: 500px;
  text-align: center;
  font-weight: 900;
  width: 100%;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  color: rgba(0,0,0,0);
  -webkit-background-clip: text;

  &--home {
    background-image: url("/assets/home.jpg");
    padding-bottom: 40%;
    padding-top: 7%;
    line-height: 230px;
    font-size: 250px;
  }

  &--post {
    background-image: url("/assets/post1.jpg");
    padding-bottom: 20%;
    padding-top: 15%;
    font-size: 400px;
  }

  &--recruit {
    background-image: url("/assets/recruit1.jpg");
    padding-bottom: 20%;
    padding-top: 15%;
    font-size: 400px;
  }

  &--search {
    background-image: url("/assets/home1.jpg");
    padding-bottom: 20%;
    padding-top: 15%;
    font-size: 400px;
  }

  &--edit {
    padding-bottom: 20%;
    padding-top: 15%;
    font-size: 400px;
  }

  &--talk {
    background-image: url("/assets/talk.jpg");
    padding-bottom: 7%;
    padding-top: 20%;
    font-size: 280px;
  }

  p {
    font-size: 70px;
    margin-top: 40px;
  }

  &--edit {
    background-color: #f0f0ee;
  }
}

.pro-top-content {
  position: absolute;
  top: 30%;
  left: 38%;

  &__name {
    font-size: 30px;
    margin-top: 35px;
    background-color: rgb(217, 255, 0);
    padding: 20px;
    border-radius: 30px;
    color: black;
  }

}

.pro-disc-content {
  height: 92vh;
  
  &__one {
    background-color: white;
    font-size: 30px;
    padding: 40px;
    margin: 20px 0;
    display: block;
    text-align: center;

    &--gender {
      padding-left: 125px;
    }
  }
}

.pro-disc-edit-content {
  height: 132vh;
}