.contents {
  height: 1300px;
  background-color: white;
}

.contents--home {
  height: 800px;
  background-color: white;
}

.contents--index {
  display: flex;
  flex-wrap:wrap;
}

.contents--show {
}

.p-content{
  margin: 30px 0 0 27px;
  padding: 20px;
  width: 27%;
  height: 30%;
  text-align: center;
  border-radius: 20px;
  border: medium solid black;
  position: relative;

  &--show {
    margin: 80px auto;
  }

  &--edit {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
    height: 43%;
    background-color: white;
  }

  &__title {
    font-size: 20px;
    position: relative;
    display: flex;

    p {
      margin: 0 auto;
      background-color: rgb(217, 255, 0);
      border-radius: 30px;
      height: 70%;
      // line-height: 100%;
      padding: 10px;
      margin-top: 5%;
    }
  }

  &__number {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
  }

  &__form {
    font-size: 15px;
    margin: 0 auto;
    line-height: 10px;
    width: 90%;
    text-align: left;
    
    input {
      width: 70%;
      border-width: 0 0 2px 0;
      outline:none;
      font-size: 16px;
      border-color: #000;
      margin-top: 15px;
      text-align: center;
    }
  }

  &__submit-form {
    text-align: center;
    margin-top: 5px;
  }
}

.complete-content {
  height: 100vh;
  position: relative;
  text-align: center;
}