.complete-group {
  position: absolute;
  top: 30%;
  left: 27%;
}

.apply-message {
  font-size: 70px;
}

.complete-redirect-btn {
  margin-top: 90px;
  font-size: 30px;
  margin-right: 60px;
}

.to-talk {
  text-decoration: none;
  margin-left: 50px;
  background-color:  rgb(217, 255, 0);
  padding: 30px;
  border-radius: 30px;
  color: black;
}

.to-index {
  text-decoration: none;
  background-color:  rgb(217, 255, 0);
  padding: 30px;
  border-radius: 30px;
  color: black;
}