.pu_image {
  border-radius: 50%;
  border:  rgb(217, 255, 0) 4px solid;
  width: 70px;
  height: 70px;
}

.i-title {
  margin-left: 14px;
}

.i-purpose {
  margin-left: 48px;
}

.i-departure {
  margin-left: 31px;
}

.i-destination {
  margin-left: 31px;
}

.i-people {
  margin-left: 15px;
}

.i-conditions {
  margin-left: 48px;
}