.m-container--post {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/03/23/58680/bb4dead81d6348db89062e77ea0c287e-1400.jpg");
  background-size: cover;
  color: rgba(0,0,0,0);
  -webkit-background-clip: text;
}

.form-display input {
  border: none;
  outline: none;
  font-size:15px;
  margin-left: 10px;
}