
.pro-top {
  background-color: #f0f0ee;
  height: 60vh;
  text-align: center;
  position: relative;

  &__edit {
    position: absolute;
    top: 80%;
    right: 5%;
  }

  &__list {
    position: absolute;
    top: 70%;
    right: 5%;
  }

  &--login {
    background-attachment: fixed;
    background-size: cover;
    color: rgba(0,0,0,0);
    -webkit-background-clip: text;
    background-image: url("login1.jpg");
    padding-top: 9%;
    font-size: 250px;
    height: 40vh;
    font-weight: 900;
  }
}

.pro-top-content-upload {
  position: absolute;
  top: 21%;
  left: 35%;
  color: #f0f0ee;
}

.upfile {
  color: #f0f0ee;
}

.pro-show {
  outline: none;
  border-style: none;
  font-size: 30px;
}

.pro-status {
  font-size: 30px;

  &__two {
    margin-left: 300px;
  }

  &__five {
    margin-left: 260px;
    padding-right: 50px;
  }

  &__six {
    margin-left: 255px;
    padding-right: 55px;
  }

  &__seven {
    margin-left: 230px;
    padding-right: 80px;
  }

  &__eight {
    margin-left: 210px;
    padding-right: 100px;
  }
}

.pro-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

